<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
    <title>Financial AI Agent</title>
</head>
<body>
    <div class="container">
        <h2>Welcome to Financial AI Agent</h2>

        <form action="/ai_agent" method="post">
            <input type="submit" value="AI Agent">
        </form>

        <form action="/prediction" method="post">
            <input type="submit" value="Prediction">
        </form>

        <form action="/joke" method="post">
            <input type="submit" value="Joke">
        </form>

        <form action="/sentiment_analysis" method="post">
            <input type="submit" value="Sentiment Analysis">
        </form>

        <form action="/paynow" method="post">
            <input type="submit" value="PayNow">
        </form>
    </div>
</body>
</html>
